<div class="container">
  <div class="selectMusic">
    <p class="hideMusic">EXAM</p>
    <p class="hideMusic">EXAM</p>
    <p class="hideMusic">EXAM</p>
    <p class="firstCountry">EXAM</p>
    <p class="selectMusic-next-next" (click)="changeMusic($event)">Russia</p>
    <p class="selectMusic-next" (click)="changeMusic($event)">China</p>
    <p class="selectMusic-current" (click)="changeMusic($event)">Japan</p>
    <p class="selectMusic-previous" (click)="changeMusic($event)">Brazil</p>
    <p class="selectMusic-prev-previous" (click)="changeMusic($event)">Mexico</p>
    <p class="secondCountry">EXAM</p>
    <p class="hideMusic">EXAM</p>
    <p class="hideMusic">EXAM</p>
    <p class="hideMusic">EXAM</p>
  </div>
</div>
